<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {class: "length-modifier"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "margin-modifier" %>
  </div>
<% end %>
